@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

#container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-controllers{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#remove{
    height: 196px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#remove button{
    border-radius: 0;
    font-size: 0.8rem;
    font-family: 'Abril Fatface', cursive;
    height: 60px;
    width: 160px;
}

#clear{
    border: solid black 1px;
    background-color: black;
    color: white;
}

#eraser{
    border: solid black 1px;
    background-color: white;
    color: black;
}

#grid-size{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
}


#grid{
    width: 500px;
    height: 500px;
    border-right: none;
    display: flex;
    flex-wrap: wrap;
}

.square{
    border: solid 1px black;
}

.black-background{
    background-color: black;
}

.left-border{
    border-left: solid 1px black;
}

.right-border{
    border-right: solid 1px black;
}

.top-border{
    border-top: solid 1px black;
}

.bottom-border{
    border-bottom: solid 1px black;
}